*.a
*.bin
*.elf
*.dll
*.img
*.in
*.log
*.o
*.out
*.s
*.so

examples/stdlib/die
examples/stdlib/free
examples/stdlib/malloc
examples/stdlib/warn

examples/string/chkstr
examples/string/memcpy
examples/string/strcpy
